{% extends "base.html" %}
{% block content %}
<main>
    <h1>Alert Threshold Settings</h1>

    {% if thresholds %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <table>
            <thead>
            <tr>
            </thead>
        <tbody>
            {% for parameter, threshold in thresholds.items() %}
            <tr>
                <td>{{ parameter|capitalize }}</td>
                <td>
                    <input type="number" step="any" name="{{ parameter }}_min" value="{{ threshold.min_value }}">
                </td>
                <td>
                    <input type="number" step="any" name="{{ parameter }}_max" value="{{ threshold.max_value }}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Save Changes</button>
</form>
    {% else %}
    <p>No threshold settings found.</p>
    {% endif %}

    <div class="back-button-container">
        <a href="{{ url_for('dashboard') }}" class="nav-button">Back to Dashboard</a>
    </div>
</main>
{% endblock %}