{% extends "base.html" %}
{% block content %}
<main>
    <h1>Manage Employee Assignments</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if current_greenhouse_id %}
        <h2>Assign Employees to Greenhouse ID: {{ current_greenhouse_id }}</h2>
    <form method="POST" action="{{ url_for('manage_assignments', greenhouse_id=current_greenhouse_id) }}">
    {{ form.hidden_tag() }}
        <div>
        {% if employees and greenhouses %}
            <h3>Employees</h3>
            <ul>
                {% for employee in employees %}
                    <li>
                        <label>
                            <input type="checkbox" name="employees" value="{{ employee.id }}"
                                   {% if employee.id in assigned_employees %}checked{% endif %}>
                            {{ employee.username }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit" class="button">Update Assignments</button>
        {% elif not employees %}
            <p>No employees found.</p>
        {% else %}
            <p>No greenhouses found.</p>
        {% endif %}
    </div>
    </form>
    {% else %}
        <p>Please select a greenhouse from the <a href="{{ url_for('greenhouses') }}">Greenhouses</a> page to manage assignments.</p>
    {% endif %}

    <div class="back-button-container">
        <a href="{{ url_for('greenhouses') }}" class="nav-button">Back to Greenhouses</a>
    </div>
</main>
{% endblock %}